.editable-text
{
    position  : relative;
    height    : fit-content;
    border    : 1px dashed transparent;
    min-height: 34px;
    transition: all 0.2s ease 0s;
    &::after
    {
        transition: all 0.3s ease 0s;
        content   : '';
        position  : absolute;
        top       : 0;
        left      : 0;
        box-sizing: border-box;
        z-index   : -1;
        width     : 100%;
        height    : 100%;
        border    : 1px solid transparent;
    }
    &:hover
    {
        &::after
        {
            border: 1px solid var(--ant-primary-5);
        }
    }
    >textarea
    {
        overflow        : auto;
        word-break      : normal;
        word-wrap       : break-word;
        border          : 1px solid transparent;
        background-color: transparent;
        &:focus
        {
            border: 1px solid var(--ant-primary-5);
        }
    }
}
