.homework-detail
{
    width     : 100vw;
    height    : 100vh;
    overflow-x: hidden;
    display   : flex;
    flex-flow : row nowrap;
    overflow  : hidden;

    .chapter-navi
    {
        width           : 300px;
        height          : 100%;
        flex-shrink     : 0;
        background-color: red;
    }
}
