.mark_homework
{
    @extend .common_container_layout;

    >.ant-tabs
    {
        width : 1200px;
        height: 60px;
        margin: 0 auto;
        >.ant-tabs-nav
        {
            margin: 0;
        }
        .ant-tabs-extra-content
        {
            height     : 100%;
            display    : flex;
            align-items: center;
            .ant-select
            {
                width: 150px;
                .ant-select-clear
                {
                    line-height: 10px;
                }
            }
        }
    }
    >main
    {
        width : 1200px;
        margin: 0 auto;
        >.ant-empty
        {
            margin-top: 200px;
        }
    }
}


.ant-popover
{
    padding-top: 0;
    .ant-popover-inner-content
    {
        padding: 0 !important;
    }
}

.popover-menu
{
    border: none;

    .ant-menu-item
    {
        display    : flex;
        align-items: center;
        &:hover
        {
            color           : #585a5a;
            background-color: #eff0f0 !important;
        }
    }
    .ant-menu-item-selected
    {
        color           : #111111;
        background-color: transparent !important;
    }

}
