.school_course
{
    @extend .common_container_layout;
    background-color: white;

    >main
    {
        width    : 1200px;
        margin   : 0 auto;
        display  : flex;
        flex-flow: row wrap;
        >.course-item-wrapper
        {
            width    : 25%;
            max-width: 25%;
            height   : fit-content;
            padding  : 5px;
            >.ant-card
            {
                .ant-card-body
                {
                    color: #314659;
                    .ant-card-meta
                    {
                        .ant-card-meta-detail
                        {
                            width     : 100%;
                            .ant-card-meta-description
                            {
                                display      : flex;
                                flex-flow    : row nowrap;
                                margin-bottom: 5px;
                                >span:nth-of-type(2)
                                {
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                    >.ant-divider
                    {
                        border: none;
                    }
                }
            }

        }
        >.ant-pagination
        {
            width: 100%;
        }
    }
    .ant-spin
    {
        position: absolute;
        top     : 300px;
        left    : calc(50% - 30px);
        z-index : 5;
    }
    .ant-empty
    {
        margin: 200px auto;
    }
    .school-course-pagination
    {
        width          : 100%;
        height         : fit-content;
        justify-content: flex-end;
        margin-top     : auto;
    }
    >.ant-form
    {
        width         : calc(1200px - 10px);
        margin        : 0 auto;
        margin-top    : 5px;
        padding       : 10px;
        padding-bottom: 0;
        border        : 1px solid #f0f0f0;
        >.ant-form-item:nth-of-type(1)
        {
            width: 100%;
            .ant-radio-button-wrapper
            {
                border    : none;
                box-shadow: none;
                &::before
                {
                    display: none;
                }
            }
        }
        .ant-input
        {
            width: 300px;
        }
        .ant-select
        {
            min-width: 200px;
            .ant-select-clear
            {
                line-height: 10px;
            }
        }
    }
}

.course-chapter-info
{
    .ant-modal-body
    {
        .ant-form
        {
            display       : flex;
            flex-direction: column;
        }
        .ant-form-item
        {
            margin-bottom: 20px;
            .ant-form-item-row
            {
                .ant-form-item-label
                {
                    width     : 15%;
                    text-align: left;
                }
                .ant-form-item-control
                {
                    width: 85%;
                }
            }
        }
    }
}
